<nav>
    <ul class="list">
        <app-header-link
            [link]="help.categoryRoutePath"
            [svgName]="help.categoryIcon"
            [svgText]="help.categoryName">
            <div class="sub-menu-wrapper small-margin-top">
                <span class="small-text">Popular topics</span>
            </div>
            <ul class="small-margin-bottom">
                @for (info of help.nestedSubMenu; track info.categoryName) {
                    <app-menu-link
                        [link]="info.categoryRoutePath"
                        [svgName]="info.categoryIcon"
                        >{{ info.categoryName }}</app-menu-link
                    >
                }
            </ul>
        </app-header-link>
        <div class="divider"></div>
        <app-header-link
            [link]="account.categoryRoutePath"
            [svgName]="account.categoryIcon"
            [svgText]="account.categoryName">
            <div class="sub-menu-wrapper small-margin-top">
                <span class="small-text">Hi,</span>
                <h2 class="title">Pavel</h2>
            </div>
            <ul class="big-margin-top">
                @for (info of account.nestedSubMenu; track info.categoryName) {
                    <app-menu-link
                        [link]="info.categoryRoutePath"
                        [svgName]="info.categoryIcon"
                        >{{ info.categoryName }}</app-menu-link
                    >
                }
            </ul>
            <div class="big-margin-top">
                <mat-divider class="big-margin-bottom"></mat-divider>
                <div class="button-container">
                    <button class="button">Sing out</button>
                </div>
            </div>
        </app-header-link>
        <app-header-link
            [link]="list.categoryRoutePath"
            [svgName]="list.categoryIcon"
            [svgText]="list.categoryName"
            [rightDirection]="true">
        </app-header-link>
        <app-header-link
            [svgName]="basket.categoryIcon"
            [link]="basket.categoryRoutePath"
            [svgText]="basket.categoryName"
            [rightDirection]="true"
            [width]="350">
            <div class="basket-content">
                <h2>Your shopping cart is empty</h2>
                <p class="small-text">Are you looking for inspiration?</p>
                <a [routerLink]="['/']">
                    <button class="button primary-button">
                        Go to the home page
                    </button>
                </a>
            </div>
        </app-header-link>
    </ul>
</nav>
