@import 'colors';

:host {
    display: flex;
    gap: 1rem;
}
.divider {
    width: 1.5px;
    background-color: $text;
    transition: 0.3s linear;
    margin: 10px auto;
    transform: translate(0, -0.4rem);
}
