<nav>
  <ul class="list">
    <li><app-theme-picker></app-theme-picker></li>
    <mat-divider [vertical]="true"></mat-divider>
    <li>
      <app-mat-menu [info]="account">
        <span ngProjectAs="header-menu-content" class="small-text"
          >Hi, Pavel</span
        >
        <div ngProjectAs="footer-menu-content">
          <mat-divider></mat-divider>
          <a mat-button>Logout</a>
        </div>
      </app-mat-menu>
    </li>
    <li><app-mat-menu [info]="basket"></app-mat-menu></li>
  </ul>
</nav>
