<nav>
    <ul class="list">
        <app-header-link
            [link]="help.categoryRoutePath"
            [svgName]="help.categoryIcon"
            [svgText]="help.categoryName">
            <div class="sub-menu-wrapper small-margin-top">
                <span class="small-text">Popular topics</span>
            </div>
          @if (help.nestedSubMenu){
            <app-header-menu
              [menuItems]="help.nestedSubMenu"
            ></app-header-menu
            >
          }
        </app-header-link>
        <div class="divider"></div>
        <app-header-link
            [link]="account.categoryRoutePath"
            [svgName]="account.categoryIcon"
            [svgText]="account.categoryName">
            <div class="sub-menu-wrapper small-margin-top">
                <span class="small-text">Hi,</span>
                <h2 class="title">Pavel</h2>
            </div>
          @if (account.nestedSubMenu){
            <app-header-menu
              [menuItems]="account.nestedSubMenu"
            ></app-header-menu
            >
          }
            <div class="big-margin-top">
                <mat-divider class="big-margin-bottom"></mat-divider>
                <div class="button-container">
                    <button class="button">Sing out</button>
                </div>
            </div>
        </app-header-link>
        <app-header-link
            [link]="list.categoryRoutePath"
            [svgName]="list.categoryIcon"
            [svgText]="list.categoryName"
            [rightDirection]="true">
        </app-header-link>
        <app-header-link
            [svgName]="basket.categoryIcon"
            [link]="basket.categoryRoutePath"
            [svgText]="basket.categoryName"
            [rightDirection]="true">
            <div class="basket-content">
                <h2>Your shopping cart is empty</h2>
                <p class="small-text">Are you looking for inspiration?</p>
                <a [routerLink]="basket.categoryRoutePath">
                    <button class="button primary-button">
                        Go to the home page
                    </button>
                </a>
            </div>
        </app-header-link>
    </ul>
</nav>
