@use 'colors';
@use 'margins';

.button {
  transition: 0.2s;
  border: 1px solid colors.$primary;
  width: 100%;
  border-radius: 0.5rem;
  color: colors.$text;
  padding: margins.$xs margins.$m;

  &:hover {
    transform: scale(1.05);
    font-weight: bold;
    background-color: colors.$primary;
  }
}

.secondary {
  border: 1px solid colors.$secondary;
  &:hover {
    background-color: colors.$secondary;
  }
}

.error {
  border: 1px solid colors.$error;
  &:hover {
    background-color: colors.$error;
  }
}

.text {
  border: 1px solid colors.$text;
  &:hover {
    background-color: colors.$text;
  }
}
