@use 'margins';

.button {
  transition: 0.2s;
  border: 1px solid var(--primary);
  width: 100%;
  border-radius: 0.5rem;
  color: var(--text);
  padding: margins.$xs margins.$m;

  &:hover {
    transform: scale(1.05);
    font-weight: bold;
    background-color: var(--primary);
  }
}

.secondary {
  border: 1px solid var(--secondary);
  &:hover {
    background-color: var(--secondary);
  }
}

.error {
  border: 1px solid var(--error);
  &:hover {
    background-color: var(--error);
  }
}

.text {
  border: 1px solid var(--text);
  &:hover {
    background-color: var(--text);
  }
}
