<li class="icon">
    <a class="icon__link" href="#">
        <div class="icon__link-container">
            @if (svgName) {
                <mat-icon class="icon__svg" [svgIcon]="svgName"></mat-icon>
            }
            <p class="icon__text"><ng-content></ng-content></p>
        </div>

        <div class="icon__arrow-wrapper">
            @if (IsNested) {
                <mat-icon class="icon__arrow" [svgIcon]="'arrow-right'">
                </mat-icon>
            }
        </div>
    </a>
</li>
