@use 'margins';

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-colum {
  display: flex;
  flex-direction: column;
}

.item-menu {
  --icon-transform: scale(1);
  --text-color: inherit;

  &:hover {
    --icon-transform: scale(1.3);
    --text-color: var(--primary);
  }

  &__icon {
    transform: var(--icon-transform);
  }

  &__icon,
  &__text {
    color: var(--text-color) !important;
    transition: transform 0.2s ease-in-out;
  }
}
