@import 'mixins';
@import 'colors';

:host {
    width: 100%;
    background-color: $background;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__primary {
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: start;
        gap: 1rem;
        margin-top: 1.5rem;
    }
}

.icon {
    transform: translateY(-0.25rem);
    transition: 0.3s;
    @include icon-size(48px);
    cursor: pointer;
    margin-right: 2rem;
}
.main-search {
    flex-grow: 1;
}

.on-top {
    transform: rotate(180deg) translate(-0rem, 0.2rem);
    scale: (1.5);
}
