@use 'mixins';
@use 'margins';
@use 'text-sizes';

:host {
  width: 100%;
}

.header {
  $icon-size: 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: margins.$m;
  margin-top: margins.$l;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: margins.$m;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    width: $icon-size;
    overflow: visible;
    transition: 0.3s;
  }

  &__logo-container--show-menu {
    width: calc($icon-size * 2);
  }

  &__menu-button {
    @include mixins.icon-size($icon-size);
    width: 0;
    height: 0;
  }

  &__menu-button--show-menu {
    width: $icon-size;
    height: $icon-size;
    overflow: hidden;
  }

  &__menu-icon {
    @include mixins.icon-size(2.7rem);
  }

  &__icon {
    transition: 0.3s;
    color: var(--primary);

    @include mixins.icon-size($icon-size);
    cursor: pointer;
    width: $icon-size;
    height: $icon-size;
  }

  &__search {
    flex-grow: 1;
  }
}

.on-top {
  transform: rotate(180deg);
}
