@import 'colors';

.menu-wrapper {
    min-width: 200px;
    transform: rotateX(-90deg);
    background-color: $background-contrast;
    overflow: hidden;

    position: absolute;
    top: 100%;
    left: 0;

    border: 0.5px solid $primary;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.on-hover {
    transform: rotateX(0);
    z-index: 2;
}
.right-direction {
    right: 0;
    left: unset;
    border-top-right-radius: 0;
    border-top-left-radius: 0.5rem;
}
