@import 'colors';

.menu-wrapper {
    min-width: 200px;

    transform: rotateX(-90deg);
    background-color: $background-app;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow:
        -1px 1px 1px 1px $background,
        1px -1px 1px $background;
}
.on-hover {
    transform: rotateX(0);
    z-index: 2;
}
.right-direction {
    right: 0;
    left: unset;
    border-top-right-radius: 0;
    border-top-left-radius: 0.5rem;
}
