.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 500px;
}

.toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  height: auto;
  transition: 0.3s linear;
  background-color: var(--background-contrast);
}
.content {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  transition: 0.3s linear;
  background-color: var(--background);
}

.main {
  margin: 150px auto 0;
  align-items: center;
  flex-grow: 1;
}
