<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list> to do </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content container">
        <mat-toolbar color="primary">
            <app-header [drawer]="drawer" [isHandset$]="isHandset$">
            </app-header>
        </mat-toolbar>
        <main class="main">
            <p>hello</p>

            <router-outlet />
        </main>
        <footer>asd</footer>
    </mat-sidenav-content>
</mat-sidenav-container>
