/* You can add global styles to this file, and also import other style files */
@import 'colors';
@import 'margins';
@import 'own-classes';
@import 'normolize';
html,
body {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $background;
    color: $text;
}

.container {
    max-width: 1480px;
}
