@import 'margins';
@import 'colors';

.button {
    transition: 0.2s;
    border: 1px solid $accent;
    width: 100%;
    border-radius: 0.5rem;
    color: $secondary-text;
    &:hover {
        color: $text;
        background-color: $accent;
    }
}

.primary-button {
    width: 250px;
    height: 2.5rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.small-margin-bottom {
    margin-bottom: $smallMargin;
}
.medium-margin-bottom {
    margin-bottom: $mediumMargin;
}
.big-margin-bottom {
    margin-bottom: $bigMargin;
}
.small-margin-top {
    margin-top: $smallMargin;
}
.medium-margin-top {
    margin-top: $mediumMargin;
}
.big-margin-top {
    margin-top: $bigMargin;
}
