@import 'mixins';
@import 'colors';

.link {
    position: relative;
}

.icon {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.1s linear;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0 10px;
    border: 1px solid transparent;

    cursor: pointer;

    &__svg {
        transition: 0.2s linear;
        @include icon-size(2.5rem);
    }
    &__text {
        opacity: 0;
        height: 16px;
        display: flex;
        font-size: 6px;
        font-weight: lighter;
        letter-spacing: normal;
        transition: 0.2s linear;
        transform: translate(0, -10px);
    }
}

.textOnTop {
    opacity: 1;
    font-size: 14px;
    height: 32px;
    transform: translate(0, 0);
}

.main-menu {
    transition: 0.3s;
    min-width: 300px;

    transform: rotateX(90deg);
    background-color: $background;
    padding: 0 15px;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow:
        -1px 1px 1px $primary,
        2px -2px 1px $background;
}

.link:hover {
    background-color: $background-secondary;
}

.link:hover .main-menu {
    transform: rotateX(0deg);
    top: 100%;
}

.link:hover .icon {
    border: 1px solid $primary;
}

.link:hover .icon__svg {
    transform: scale(1.2);
}

.link:hover .icon::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 1px;
    width: calc(100% - 2px);
    height: 2px;
    background-color: $background-secondary;
    z-index: 10;
}
