@import 'mixins';
@import 'colors';
.link {
    position: relative;
}

.link:hover .main-menu {
    transform: rotateX(0deg);
    top: 100%;
}

.link:hover .icon {
    box-shadow:
        -1px -1px 1px $text,
        2px -2px $background;
}
.icon {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.1s linear;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0 10px;

    cursor: pointer;
    border-bottom: none;

    &__svg {
        transition: 0.2s linear;
        @include icon-size(36px);
    }
    &__text {
        opacity: 0;
        height: 16px;
        display: flex;
        font-size: 6px;
        font-weight: lighter;
        letter-spacing: normal;
        transition: 0.2s linear;
        transform: translate(0, -10px);
    }
}

.textOnTop {
    opacity: 1;
    font-size: 14px;
    height: 32px;
    transform: translate(0, 0);
}

.main-menu {
    transition: 0.3s;
    min-width: 300px;

    transform: rotateX(90deg);
    background-color: $background-app;
    padding: 0 15px;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow:
        -1px 1px 1px $text,
        2px -2px 1px $background;
}
