@import '../../../../../scss/colors';

:host {
    width: 100vw;
    background-color: $background;
}

.nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    //height: 50px;
}
