<nav class="nav container">
  @for (
    product of products;
    track product.categoryName;
    let count = $count;
    let i = $index
  ) {
    <app-header-link
      #category
      [link]="product.categoryRoutePath"
      [svgName]="product.categoryIcon"
      [svgText]="product.categoryName"
      [rightDirection]="i > count / 2"
      [width]="700">
      @if (product.nestedSubMenu && category.isOnHover) {
        <app-header-menu
          [additionalRoutePath]="routerPath"
          [nestingLevel]="1"
          [menuItems]="product.nestedSubMenu"
          [title]="product.categoryName"></app-header-menu>
      }
    </app-header-link>
  }
</nav>
